:root {
  --pink: #d658b3;
  --green: #45b442;
  --gray-700: #332b31;
  --gray-600: #4a4448;
  --gray-500: #756c71;
  --gray-400: #d3cfd2;
  --gray-300: #dfdcdf;
  --gray-200: #e9e7e9;
  --gray-100: #f4f1f2;
  --white: #ffffff;
  --gradient-base: linear-gradient(
    90deg,
    #2daa6e 0%,
    #2daaaa 33.33%,
    #856ccf 66.67%,
    #d658b3 100%
  );

  --title-md: 1.5rem;
  --title-sm: 1.125rem;
  --subtitle-md: 0.875rem;
  --subtitle-sm: 0.75rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Oxygen", sans-serif;
  scroll-behavior: smooth;
}

*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: "Alice", serif;
  position: relative;
  background-color: var(--gray-200);
  color: var(--gray-700);

  line-height: 1.4;

  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 1rem;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

h1,
h2,
h3 {
  line-height: 1.4;
  color: var(--gray-700);
  font-weight: 600;
  letter-spacing: -0.04em;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul[role="list"] {
  list-style: none;
}

.title-md {
  font-size: var(--title-md);
  font-weight: 600;
  line-height: 1.4;
}
.title-sm {
  font-size: var(--title-sm);
  font-weight: 600;
  line-height: 1.4;
}
.subtitle-md {
  font-size: var(--subtitle-md);
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
}
.subtitle-sm {
  font-size: var(--subtitle-sm);
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
}
.text-md {
  font-size: var(--text-md);
  font-weight: 500;
  line-height: 1.4;
}
.text-sm {
  font-size: var(--text-sm);
  font-weight: 500;
  line-height: 1.4;
}
.text-xs {
  font-size: var(--text-xs);
  font-weight: 500;
  line-height: 1.4;
}

#client-not-found {
  display: block;
  text-align: center;
  margin: 4rem auto;
  display: none;
  max-width: 450px;
  text-align: center;
  color: var(--gray-500);
  letter-spacing: 1px;
}

@keyframes pulse-gift {
  0%,
  75% {
    transform: rotate(-30deg) translateX(-2px) translateY(2px) scale(1.2);
  }
  50%,
  100% {
    transform: rotate(30deg) translateX(2px) translateY(-2px) scale(1);
  }
}

.receive-gift-animation {
  & img {
    animation: pulse-gift 1.8s ease alternate infinite;
    animation-iteration-count: 3;
  }
}

.gift-animation {
  animation: pulse-gift 1.8s ease alternate infinite;
}

.next-gift {
  filter: brightness(0.9);
}
